.compose-text{
    margin: 24px 0px;
}

.compose-text label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
}

.compose-text input {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}