.dropdownList {
    margin: 24px 0px;
}

.dropdownList label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 400;
}

.dropdownList select {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box; 
    border-radius: 17px;  
}

.dropdownList select:focus {
    outline: none;
    border: none;
}